header{
    z-index: 1000;
    background-color: $blanco;
    color: $letra;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    height: 60px;
    top: 0;
    position: sticky;
    h1{
        text-shadow: 1px 1px 5px #000;
    }
    nav{
        background-color: darken($color: #494949, $amount: 9);
        ul{
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            li{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                height: 60px;
                a{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0 15px;
                    height: 60px;
                    color: #fff;
                    text-align: center;
                }
            }
            :hover{
                background: #15f;
            }
        }
    }
}