header{
    z-index: 1000;
    background-color: $blanco;
    color: $letra;
    height: 60px;
    top: 0;
    position: sticky;
    text-align: center;
    h1{
        text-shadow: 1px 1px 5px #000;
        line-height: 1.5;
    }
    #toogle-menu{
        cursor: pointer;
        line-height: 2;
        color: #fff;
        background-color: darken($color: #168, $amount: 5%);
        font-size: 20px;

        @media screen and (min-width:768px){
            display: none;
        }
    }
    .menu{
        background-color: steelblue;
        display: block;
        @media screen and (min-width:768px) {
            display: flex;
            flex: auto;
            li{
                flex: auto;
            }
        }
        a{
            display: block;
            color: #eee;
            line-height: 3;
            width: 100%;
        }
        :hover{
            background: #15f;
        }
    }
}