header{
    z-index: 1000;
    background-color: $blanco;
    color: $letra;
    height: 60px;
    top: 0;
    position: sticky;
    text-align: center;
    h1{
        text-shadow: 1px 1px 5px #000;
        line-height: 1.5;
        a{
            color: #000;
            display: block;
        }
    }
    .menu{
        background-color: steelblue;
        display: none;
        @media screen and (min-width: 768px){
            display: flex;
            li{
                border-right: 1px solid rgba(#000,0.2);
                &:last-child{
                    border-right: none;
                }
            }
        }
        li{
            flex: auto;
            border-bottom: 1px solid rgba(#000,0.2);
        }
        a{
            display: block;
            color: #eee;
            line-height: 3;
            width: 100%;
            &:hover{
                background: #15f;
            }
        }
    }
    #toogle-menu{
        cursor: pointer;
        font-weight: bold;;
        line-height: 2;
        color: #fff;
        background-color: darken($color: #168, $amount: 5%);
        font-size: 20px;
        
        @media screen and (min-width:768px){
            display: none;
        }
    }
}